streamlit
flet

requests==2.31.0

pygame==2.5.2
brotli==1.1.0
Pillow==10.2.0
python-dateutil==2.8.2
plotly 
pytz==2024.1
aiohttp



numpy>=1.26.0
pandas>=2.2.2
matplotlib>=3.9.0
scipy>=1.13.1

python-dotenv>=1.0.1
pybit>=5.9.0
schedule>=1.2.2
pytz>=2024.1
urllib3>=2.2.2
